/* *** LAYOUT *** */
.navigation__list {
  @include row;
  @include between_center;
}


.navigation__item:first-child {
  margin-right: 4.8rem;
}

/* *** MODULE *** */
.navigation__link {
  color: $brand-color1;
}

/* *** STATE *** */
.navigation__link:hover {
  color: $brand-color1;
}

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */