/* *** LAYOUT *** */

/* *** MODULE *** */
.footer__footer {
  background: $primary-color1;
  color: $primary-color2;

  padding: $primary-size1 0;

  & > .container {
    @include row;
    @include between_center;
  }
}

.footer__text--hightlight {
  margin-left: .8rem;
}

.footer__text--hightlight::before {
  top:-$secundairy-size1;
  left: 0;
  right: px;
  // bottom: 0;
}

.footer__link {
  color: $primary-color2;
  text-decoration: none;
}

/* *** STATE *** */
.footer__text--hightlight:hover { 
  &::before {
    // animation: wave .300s ease-in-out;
    left: 2.4px
  }
}

.footer__link:hover {
  opacity: .8;
}

/* *** KEYFRAME *** */

@keyframes wave {
  0% { 
    left: 0px
  }
  100% { 
    left: 2.4px
  }
}

/* *** MEDIAQUERY *** */
@media only screen and (max-width: 768px) {
  .footer__footer {
    & .navigation__list {
      margin: $primary-size1 auto;
    }

    & > .container {
      @include column;
      @include center-center;
    }
  }
}