/* *** LAYOUT *** */

/* *** MODULE *** */
.button, 
.navigation__button,
.header__button,
.services__button {
  border: none;
}

.navigation__button--primary,
.header__button--primary,
.services__button--primary-middle {
  background-color: $brand-color1;
  color: $primary-color2; 

  & > a {
    color: $primary-color2;
  }
}

// /* *** STATE *** */
.navigation__button:hover,
.header__button:hover,
.services__button:hover {
  color: $primary-color2;
}

/* *** KEYFRAME *** */