/* *** LAYOUT *** */
.services__sectionHeader {
  @include row;
  @include end-center;
}

.services__articleDiv--smaller {
  @include column;
  @include center-center;
  
  // align-self: flex-end;
}

.services__articleDiv--smaller--webDev {
  @include column;
  @include center-center;

}

.services__list--row-bc {
  @include row;
  @include between_center;
}

.services__part--webDev, 
.services__part--devSup, 
.services__part--itSup {
  @include column;

  width: 100%;

  padding:9.6rem;
}

.services__list--wider {
  width: 100%;
}

.services__list--innerSpacing,
.services__img--innerSpacing {
  @include innerSpace;
}

.services__img {
  width: 100%;
}

.services__list--overlay-list {
  margin-top: -$primary-size1;
}

.services__list--bColor {
  > li{
    @include row--noWrap;
    @include begin_center;
  }

  > li + li {
    margin: $primary-size1 0;
  }

  >li:nth-child(even)::before {
    background-image: url("../../../static/svg/bean.svg");
  }

  >li:nth-child(odd)::before {
    background-image: url("../../../static/svg/pepper.svg");
  }

  li::before{
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: $secundairy-size1;

    background-size: cover;
    background-repeat: no-repeat;
}
}

.services__button--primary-middle {
  @include middle;
}

/* *** MODULE *** */
// .services__part--webDev,
// .services__part--itSup {
//   background-position: top right;
// }

.services__sectionTitle--hightlight::before {
  top:-$secundairy-size1;
  left: -$secundairy-size2;
  right: 0;
  // bottom: 0;
}

.services__title--hightlight::before {
  top:-$secundairy-size1;
  left: -$secundairy-size1;
  right: 0;
  // bottom: 0;
}

.services__item--tag {
  background-color: $primary-color1;
  color: $brand-color1; 
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */
@media only screen and (min-width: 1520px) {
  .services__part--webDev {
    background-image: url("../../../static/svg/webdevelopment.svg");
    background-position: center right;

    background-size: 32vw auto;
  }

  .services__articleDiv--smaller--webDev {
    width: 56vw;
  }
}

@media only screen and (min-width: 768px) {
  .services__articleDiv--right {
    align-self: flex-end;
  }

  .services__part--devSup {
    background-image: url("../../../static/svg/developmentSupport.svg");
    background-position: center;

    // background-size: 600px auto;
    background-size: contain;
  }

  .services__part--itSup {
    background-image: url("../../../static/svg/itSupport.svg");
    background-position: top right;

    background-size: 40vw auto;
  }
  .services__articleDiv--smaller {
    width: 56vw;
  }
}

@media only screen and (min-width: 500px) {
  .services__sectionTitle--hightlight {
    padding-right: 30.4rem;
  } 
}

@media only screen and (max-width: 500px) {
  .services__part--webDev, 
  .services__part--devSup, 
  .services__part--itSup {
    padding:9.6rem 0;
  }

  .services__sectionTitle--hightlight {
    padding-right: $primary-size1;
  } 
}


@media only screen and (max-width: 757px) {
  .services__list--middle {
    justify-content: center;

    & > .services__item--innerSpacing {
      margin: $primary-size1 auto;
    }
  }

  .services__section {
    padding: 0 $primary-size1;
  }
}