/* *** LAYOUT *** */
.services__sectionHeader {
  @include row;
  @include end-center;
}

.services__sectionTitle--hightlight {
  padding-right: 30.4rem;
} 

.services__part--webDev, 
.services__part--devSup, 
.services__part--itSup {
  @include column;

  width: 100%;

  padding:9.6rem;
}

.services__articleDiv--smaller {
  @include column;
  @include center-center;

  width: 56vw;

  // align-self: flex-end;
}

.services__articleDiv--right {
  align-self: flex-end;
}

.services__list--row-bc {
  @include row;
  @include between_center;
}

.services__list--wider {
  width: 100%;
}

.services__list--innerSpacing,
.services__img--innerSpacing {
  @include innerSpace;
}

.services__list--overlay-list {
  margin-top: -$primary-size1;
}

.services__button--primary-middle {
  @include middle;
}

/* *** MODULE *** */
// .services__part--webDev,
// .services__part--itSup {
//   background-position: top right;
// }

.services__part--webDev {
  background-image: url("../../../static/svg/webdevelopment.svg");
  background-position: top right;

  background-size: 32vw auto;
}

.services__part--devSup {
  background-image: url("../../../static/svg/developmentSupport.svg");
  background-position: center;

  // background-size: 600px auto;
  background-size: contain;
}

.services__part--itSup {
  background-image: url("../../../static/svg/itSupport.svg");
  background-position: center right;

  background-size: 32vw auto;
}

.services__sectionTitle--hightlight::before {
  top:-$secundairy-size1;
  left: -$secundairy-size2;
  right: 0;
  // bottom: 0;
}

.services__title--hightlight::before {
  top:-$secundairy-size1;
  left: -$secundairy-size1;
  right: 0;
  // bottom: 0;
}

.services__item--tag {
  background-color: $primary-color1;
  color: $brand-color1; 
}

/* *** STATE *** */

/* *** KEYFRAME *** */