/* *** LAYOUT *** */
.main {
  position: relative;

  padding-top: 23.8rem;
}

/* *** MODULE *** */
.main::after {
  content: '';

  background-image: url("../../../../static/svg/header_shape.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;

  top: -48px;
  left: 0;
  right: 0;
  width: 100%;
  height: 24rem;
}

/* *** STATE *** */

/* *** KEYFRAME *** */