/* *** LAYOUT *** */
.header__div--row-bc {
  @include row;
  @include between_center;
}

.header__articleTitle {
  @include column;
}

.header__text--innerSpacing {
  @include innerSpace;
}

/* *** MODULE *** */
.header__header {
  background: $primary-color1;
  color: $primary-color2;
  
  padding-bottom: 8rem;
}

.header__mainTitle {
  width: 155px;
  height: 155px;

  background-image: url("../../../../static/svg/logo.svg");

  margin-left: -29px;
}

.header__title {
  font-size: $primary-size1;
}

.header__title--bolder {
  color: $brand-color1;
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */
@media only screen and (min-width: 1200px) {
  .header__header {
    background-image: url("../../../../static/svg/header_visual.svg");
    background-position: bottom right;
  }

  .header__text {
    max-width: 32vw;
  }
}